@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.field {
	@include flex($direction: column);

	&__label {
		margin-bottom: 0.5rem;
	}

	&__input {
		margin-bottom: 1rem;
		border: 1px solid $grey;
		border-radius: 0.5rem;
		padding: 0.5rem;
		width: 50%;
		max-width: 34rem;
		font-size: inherit;
	}
}
