@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.newslist {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	font-size: clamp(1.2rem, 1.8vw, 1.4rem);
	grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));

	@include tablet {
		padding: 1rem 3rem;
		gap: 2rem;
		// grid-template-columns: repeat(auto-fill, minmax(31rem, 1fr));
	}
	@include desktop {
		padding: 1rem 10rem;
		gap: 3rem;
		// grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	}
	&__link {
		text-decoration: inherit;
		color: inherit;
	}
}
