@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.newslist {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
	gap: 1rem;
	font-size: clamp(1.2rem, 2vw, 1.4rem);

	@include tablet {
		padding: 1rem 3rem;
		gap: 2rem;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	}
	@include desktop {
		padding: 1rem 10rem;
	}

	&__container {
		@include flex($direction: column);
		border: 1px solid $grey;
		border-radius: 1rem;
		margin: 1rem;
		min-height: 38rem;
	}
	&__img {
		width: 100%;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}
	&__text-wrapper {
		flex-grow: 1;
		@include flex($direction: column, $gap: 1rem);
		padding: 1rem;
	}
	&__source-time-wrapper {
		@include flex($justify: space-between);
		margin-top: auto;
		padding-top: 0.5rem;
		border-top: 1px solid $light-grey;
	}
}
