@use "./variables" as *;

@mixin tablet {
	@media (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-breakpoint) {
		@content;
	}
}

@mixin flex($direction: normal, $justify: normal, $align: normal, $gap: normal) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}
