@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.header {
	@include flex($direction: column, $gap: 2rem);
	font-size: 1.2rem;
	padding: 1.6rem;
	background-color: $green;
	position: fixed;
	width: 100%;
	z-index: 10;

	@include tablet {
		font-size: 2rem;
		padding: 3.2rem;
		flex-direction: row;
		align-items: center;
	}
	@include desktop {
		font-size: 2.8rem;
		padding: 4.8rem;
	}

	&__container {
		@include flex($align: center, $gap: 1.5rem);

		@include tablet {
			gap: 2rem;
		}
		@include desktop {
			gap: 4.5rem;
		}
	}
	&__logo {
		width: 4rem;
		display: block;

		@include tablet {
			width: 8rem;
		}
		@include desktop {
			width: 12rem;
		}
	}
	&__nav {
		@include flex($align: center, $gap: 1rem);

		@include tablet {
			gap: 2rem;
		}
		@include desktop {
			gap: 3rem;
		}

		&-link {
			text-decoration: none;
			color: $white;

			&:hover {
				text-decoration: underline;
			}
		}
		&-item {
			list-style: none;
		}
		&-access-wrapper {
			@include flex($direction: column);
			position: absolute;
			right: 1.6rem;

			@include tablet {
				right: 3.2rem;
			}
			@include desktop {
				right: 4.8rem;
			}
		}
		&-access {
			@include flex($direction: column, $gap: 0.5rem);
		}
	}

	&__input-wrapper {
		@include flex($direction: column, $gap: 1rem);

		@include tablet {
			flex-direction: row;
			width: 50%;
		}
	}
	&__category {
		max-width: 35rem;
		appearance: none;
		background-image: url(../../assets/images/icons/arrow_drop_down-24px.svg);
		background-repeat: no-repeat;
		background-position: 97%;

		@include tablet {
			width: 50%;
			min-width: 15rem;
		}
	}
	&__search {
		max-width: 35rem;
		background-image: url(../../assets/images/icons/search-24px.svg);
		background-repeat: no-repeat;
		background-position: 97%;

		@include tablet {
			width: 50%;
			min-width: 15rem;
		}
	}
}
