@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.newscard {
	@include flex($direction: column);
	border: 1px solid $grey;
	border-radius: 1rem;
	margin: 1rem;
	min-height: 30rem;

	&:hover {
		border: 0.4rem solid $green;
	}

	@include tablet {
		min-height: 36rem;
	}

	&__img {
		width: 100%;
		max-height: 20rem;
		object-fit: cover;
		border-top-left-radius: 0.7rem;
		border-top-right-radius: 0.7rem;
	}
	&__text-wrapper {
		flex-grow: 1;
		@include flex($direction: column, $gap: 1rem);
		padding: 1rem;
	}
	&__source-time-wrapper {
		@include flex($justify: space-between);
		margin-top: auto;
		padding-top: 0.5rem;
		border-top: 1px solid $light-grey;
	}
	&__views-likes-wrapper {
		@include flex($justify: space-between);
	}
	&__icon-wrapper {
		@include flex($align: center, $gap: 0.5rem);
	}
	&__icon {
		display: block;
		width: 1.5rem;

		@include tablet {
			width: 1.6rem;
		}
		@include desktop {
			width: 2.1rem;
		}

		&--views {
			width: 1.8rem;
			margin-bottom: 0.31rem;

			@include tablet {
				width: 2rem;
			}
			@include desktop {
				width: 2.5rem;
			}
		}
	}
}
