@use "./styles/fonts.scss" as *;
@use "./styles/variables.scss" as *;
@use "./styles/mixins.scss" as *;

*,
* ::before,
* ::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "avenir-next";
}
.app-container {
	@include flex($direction: column);
	min-height: 100vh;
}
.main-body {
	flex-grow: 1;
	font-size: 1.2rem;
	padding: 1.6rem;
	margin-top: 15.6rem;

	@include tablet {
		font-size: 1.8rem;
		padding: 3.2rem;
		margin-top: 14.4rem;
	}
	@include desktop {
		font-size: 2.5rem;
		padding: 4.8rem;
		margin-top: 21.6rem;
	}
}
.input {
	border-radius: 1rem;
	border: 1px solid $cloud;
	padding: 0.5rem 1rem;

	@include tablet {
		font-size: 1.5rem;
	}
	@include desktop {
		font-size: 2rem;
	}
}
.btn {
	background-color: $green;
	border: none;
	border-radius: 0.5rem;
	color: $white;
	padding: 0.5rem;
	width: 30%;
	max-width: 18rem;
	font-size: inherit;
	cursor: pointer;

	@include tablet {
		padding: 0.8rem 3.2rem;
	}
}
