@use "./styles/fonts.scss" as *;
@use "./styles/variables.scss" as *;
@use "./styles/mixins.scss" as *;

*,
* ::before,
* ::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "avenir-next";
}
.app-container {
	@include flex($direction: column);
	min-height: 100vh;
}
.main-body {
	flex-grow: 1;
}
.input {
	border-radius: 1rem;
	border: 1px solid $cloud;
	height: 2.6rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
