@use "./styles/fonts.scss" as *;
@use "./styles/variables.scss" as *;
@use "./styles/mixins.scss" as *;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "avenir-next";
}
.input {
	border-radius: 1rem;
	border: 1px solid $cloud;
	height: 2.6rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
